<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.health_app_activity_tracker_reporter">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_activity_tracker_round"
        android:label="Health Activity Tracker"
        android:supportsRtl="true"
        android:theme="@style/Theme.Health_App_Activity_Tracker_Reporter">
        <activity android:name=".AddAppToTrackerActivity"
            android:parentActivityName=".Homepage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Homepage" />
        </activity>
        <activity
            android:name=".AppsActivity"
            android:parentActivityName=".Homepage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Homepage" />
        </activity>
        <activity
            android:name=".TrackerActivity"
            android:parentActivityName=".Homepage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Homepage" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".Homepage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Homepage" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Health_App_Activity_Tracker_Reporter.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Homepage"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
    </application>

</manifest>