<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.health_app_activity_tracker_reporter">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_activity_tracker_round"
        android:label="Health Activity Tracker"
        android:supportsRtl="true"
        android:theme="@style/Theme.Health_App_Activity_Tracker_Reporter">
        <activity
            android:name="com.health_app_activity_tracker_reporter.EditTrackerActivity"
            android:parentActivityName="com.health_app_activity_tracker_reporter.TrackerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.health_app_activity_tracker_reporter.TrackerActivity" />
        </activity>
        <activity
            android:name="com.health_app_activity_tracker_reporter.AddAppToTrackerActivity"
            android:parentActivityName="com.health_app_activity_tracker_reporter.Homepage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.health_app_activity_tracker_reporter.Homepage" />
        </activity>
        <activity
            android:name="com.health_app_activity_tracker_reporter.AppsActivity"
            android:parentActivityName="com.health_app_activity_tracker_reporter.Homepage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.health_app_activity_tracker_reporter.Homepage" />
        </activity>
        <activity
            android:name="com.health_app_activity_tracker_reporter.TrackerActivity"
            android:parentActivityName="com.health_app_activity_tracker_reporter.Homepage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.health_app_activity_tracker_reporter.Homepage" />
        </activity>
        <activity
            android:name="com.health_app_activity_tracker_reporter.SettingsActivity"
            android:parentActivityName="com.health_app_activity_tracker_reporter.Homepage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.health_app_activity_tracker_reporter.Homepage" />
        </activity>
        <activity
            android:name="com.health_app_activity_tracker_reporter.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Health_App_Activity_Tracker_Reporter.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.health_app_activity_tracker_reporter.Homepage"
            android:parentActivityName="com.health_app_activity_tracker_reporter.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.health_app_activity_tracker_reporter.LoginActivity" />
        </activity>
        <activity
            android:name="com.health_app_activity_tracker_reporter.RegisterActivity"
            android:parentActivityName="com.health_app_activity_tracker_reporter.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.health_app_activity_tracker_reporter.LoginActivity" />
        </activity>

        <receiver
            android:name="com.health_app_activity_tracker_reporter.resources.NotificationPublisher"
            android:enabled="true"
            android:exported="false"></receiver>
    </application>

</manifest>